<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--该mapper相当于com.lake.study.mybatis01.mapper.BlogMapper接口的实现类-->
<mapper namespace="com.lake.study.mybatis01.mapper.BlogMapper">
    <cache/>
    <!--将数据库列名和Java字段名对应-->
    <resultMap type="blog" id="blogResultMap">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="author_id" property="authorId" jdbcType="INTEGER" />
    </resultMap>
    <!-- sql片段 -->
    <sql id="columnBase">
        `id`,
        `title`,
        `author_id` as authorId,
        `state`,
        `featured`,
        `style`
    </sql>

    <!--statement-->
    <select id="findOne" parameterType="int" resultType="blog">
        select
        <include refid="columnBase"/>
        from blog where id = #{id}
    </select>

    <select id="findOne2" parameterType="int" resultType="blog" resultMap="blogResultMap">
        select * from blog where id = #{id}
    </select>

    <!--#号与$的区别-->
    <select id="findBlogLikeTitle" parameterType="string" resultType="blog" resultMap="blogResultMap">
        select * from blog where title like #{title}
    </select>

</mapper>