<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--根节点-->
<configuration>
    <!--引入properties配置文件-->
    <properties resource="db.properties"/>

    <!--定义别名-->
    <typeAliases>
        <!--<typeAlias type="com.lake.study.mybatis01.pojo.Blog" alias="Blog"/>-->
        <!--自动扫描定义了pojo包，用类名作为别名-->
        <package name="com.lake.study.mybatis01.pojo"/>
    </typeAliases>

    <!--<typeHandlers>

    </typeHandlers>-->

    <!--定义数据库环境-->
    <environments default="development">
        <!--开发环境-->
        <environment id="development">
            <!--事务实现方式-->
            <transactionManager type="JDBC"/>
            <!--定义数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <!--生产环境-->
        <environment id="produce">
            <transactionManager type=""></transactionManager>
            <dataSource type=""></dataSource>
        </environment>
        <!--测试环境-->
        <environment id="test">
            <transactionManager type=""></transactionManager>
            <dataSource type=""></dataSource>
        </environment>
    </environments>

    <!--定义SQL映射 -->
    <mappers>
        <mapper resource="mybatis01/mapper/blog-mapper.xml"/>
        <!--扫描所有的映射xml文件-->
        <!--<package name="mybatis01.mapper"/>-->
    </mappers>
</configuration>